.body_Contanier
{
    position: fixed;
    left:37%;
    bottom: 09%;
    
}

nav{
    background-color: rgb(42, 139, 218);
    color: white;
    height: 50px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
}

nav ul{
    list-style-type: none;
}

.contanier
{
    width: 400px;
    height: 400px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.cont
{
    width:132px;
    height: 132px;
    border: 1px solid black;
    text-align: center;
    font-size: 90px;
}

.label
{
    text-align: center;
    font-size: 40px;
    margin-bottom: 10%;
}

.message
{
    font-size: 30px;
    text-align:center;
}

.reset
{
    width: 100px;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    background-color: rgba(88, 88, 199, 0.855);
    border-radius: 8px;
    border: none;
    /* align-items: center; */
}

.box1,.box2,.box3
{
    border-top: none;
}

.box1,.box4,.box7
{
    border-left:none ;
}

.box3,.box6,.box9{
    border-right: none;
}

.box7,.box8,.box9
{
    border-bottom: none;
}




